{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <title>Resource Recommender</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.js" integrity="sha512-Xo0Jh8MsOn72LGV8kU5LsclG7SUzJsWGhXbWcYs2MAmChkQzwiW/yTQwdJ8w6UA9C6EVG18GHb/TrYpYCjyAQw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css" integrity="sha512-KXol4x3sVoO+8ZsWPFI/r5KBVB/ssCGB5tsv2nVOKwLg33wTFP3fmnXa47FdSVIshVTgsYk/1734xSk9aFIa4A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        <h1 class="title">Resource Recommendation System</h1>
        <form class="input-form" method="post" action="{% url 'app-recommendations' %}">
            {% csrf_token %}
            <div class="ui input">
                <input type="text" name="user_input" placeholder="Enter a job description or your career goal">
            </div>
            <input class="ui button custom" type="submit" value="Search">
        </form>
        <div class="ui orange message">
            <h4 class="index-message">IMPORTANT INFORMATION FOR USERS!!!</h4>

            <p class="index-message">
                Welcome to the resource recommendation system. The aim of the system is to provide you with the 
                most relevant and appropriate learning resources, dependent on what you wish to pursue career-wise. 
                The idea is that this system reduces your time spent in searching for learning resources on the web by
                only recommending the most relevant ones, helping you find places to start if you are unsure or are overwhelmed by the countless
                options from a regular Google search.
            </p>
            <p class="index-message">
                For example, if you wish to become a data scientist, you may search the role itself: Data Scientist, 
                or provide a full job description from a role you wish to pursue. As a side note, the system works 
                more effectively with job descriptions.
            </p>
            <p class="index-message">
                The platform in its current state focuses on the following (Tech) fields and will not work well on others:
                <div class="ui list">
                    <li class="item">Data Science, Analytics and Management</li>
                    <li class="item">Software Development and Engineering</li>
                    <li class="item">IT and Cloud Management</li>
                    <li class="item">Artificial Intelligence</li>
                    <li class="item">Security and Risk Management</li>
                </div>
            </p>

            <p class="index-message">I would love to hear your feedback, both good and bad!</p>
        </div>
    </div>
</body>
</html>