{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Slider in HTML & CSS</title>
    <link rel="stylesheet" href="{% static 'css/recommendations.css' %}">
    <script src="{% static 'js/main.js' %}"></script>
    <!-- Semantic UI CDN dependencies -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.js" integrity="sha512-Xo0Jh8MsOn72LGV8kU5LsclG7SUzJsWGhXbWcYs2MAmChkQzwiW/yTQwdJ8w6UA9C6EVG18GHb/TrYpYCjyAQw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css" integrity="sha512-KXol4x3sVoO+8ZsWPFI/r5KBVB/ssCGB5tsv2nVOKwLg33wTFP3fmnXa47FdSVIshVTgsYk/1734xSk9aFIa4A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <a class="ui button red" href="{% url 'app-index' %}">Back</a>

    <!-- Free Recommendations -->
    <div class="carousel-section">
        <h2 class="classification">Free Recommendations</h2>
        <div class="container">
            <!-- Card generator -->
            {% for recommendation in recommendations %}
            {% if recommendation.class == 'free' %}
            <a class="card" href="{{ recommendation.URL }}">
                <div class="image">
                    <i class="gift icon"></i>
                </div>
                <h2>{{ recommendation.title }}</h2>
                <p>{{ recommendation.provider }}</p>
            </a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <!-- Paid Recommendations -->
    <div class="carousel-section">
        <h2 class="classification">Paid Recommendations</h2>
        <div class="container">
            <!-- Card generator -->
            {% for recommendation in recommendations %}
            {% if recommendation.class == 'paid' %}
            <a class="card" href="{{ recommendation.URL }}">
                <div class="image">
                    <i class="dollar sign icon"></i>
                </div>
                <h2>{{ recommendation.title }}</h2>
                <p>{{ recommendation.provider }}</p>
            </a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <!-- University Recommendations -->
    <div class="carousel-section">
        <h2 class="classification">University Recommendations</h2>
        <div class="container">
            <!-- Card generator -->
            {% for recommendation in recommendations %}
            {% if recommendation.class == 'university' %}
            <a class="card" href="{{ recommendation.URL }}">
                <div class="image">
                    <i class="university icon"></i>
                </div>
                <h2>{{ recommendation.title }}</h2>
                <p>{{ recommendation.provider }}</p>
            </a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <!-- Bootcamp Recommendations -->
    <div class="carousel-section">
        <h2 class="classification">Bootcamp Recommendations</h2>
        <div class="container">
            <!-- Card generator -->
            {% for recommendation in recommendations %}
            {% if recommendation.class == 'bootcamp' %}
            <a class="card" href="{{ recommendation.URL }}">
                <div class="image">
                    <i class="certificate icon"></i>
                </div>
                <h2>{{ recommendation.title }}</h2>
                <p>{{ recommendation.provider }}</p>
            </a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</body>
</html>
